.DS_Store

/*.xcodeproj
/.vscode
/.build/
/.build.ssgc/
/.ssgc/

/Packages
/Package.resolved

/tests/fuzz/data
/tests/integration/decode/*.png
/tests/integration/decode/*.rgb
/tests/integration/encode/*.jpg
